


ul{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 0%;

li{
    
padding: 0px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
 
    button{
        color: red;
        border: none;
        background-color: transparent;
        padding-right: 20px;
        cursor: pointer;
    }

   
    
}
}


.li-active{
        border-left: 10px solid blue;
        padding-left: 3px;
    }

