
li{
    width: 100%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
 
    button{
        color: red;
        border: none;
        background-color: transparent;
    }
}